{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kanji Flashcards</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'flashcards/css/style.css' %}">
</head>
<body>

<nav>
  <a href="{% url 'home' %}">Home</a>

  {% if user.is_authenticated %}
    <a href="{% url 'flashcards' %}">Flashcards</a>
    <a href="{% url 'account' %}">My Account</a>
    <span>Welcome, {{ user.username }}</span>
    <!-- Le formulaire de déconnexion sécurisé (POST) -->
    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
  {% endif %}
</nav>

{% block content %}
{% endblock %}

</body>
</html>
